<script type="text/javascript">
       var vm = {{.vm}};
</script>
<script src="/static/js/custom/accounts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>

<section class="content-section clearfix admin-layout">
    <div class="container-fluid no-gutter-xs">
        <div class="col-md-12 main-content-wrapper padding-50-each">
            <div class="clearfix">
                <h1 class="h4">Account</h1>
                <div class="margin-top-20">

                    <form  id="editSuperAdminDetailsForm"class="clearfix max-form-width form-horizontal edit-account" style="">
                        <div class="form-group clearfix">
                            <label class="control-label col-sm-2" for="superAdminName">Name:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control dis-txt" id="superAdminName" name="superAdminName" placeholder="Enter email">
                            </div>
                        </div>
                        
                        <div class="form-group clearfix">
                            <label class="control-label col-sm-2" for="superadminEmail">Email-id:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control dis-txt" id="superadminEmail" name = "superadminEmail", placeholder="Enter email">
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label class="control-label col-sm-2" for="superAdminPhone">Phone:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control dis-txt" id="superAdminPhone" name= "superAdminPhone" placeholder="Enter email">
                            </div>
                        </div>

                        <div class="align-left col-sm-12">
                            <button class="btn btn-success" id="edit-txt">Edit</button>
                            <a class="btn btn-primary" data-toggle="modal" data-target="#change-pass">Change Password</a>
                        </div>

                        <div class="modal fade" id="change-pass" role="dialog">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Change password</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group clearfix">
                                            <label class="col-sm-12" for="email">Old password</label>
                                            <div class="col-sm-12">
                                                <input type="password" class="form-control" id="" placeholder="Enter old password">
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label class="col-sm-12" for="email">New password</label>
                                            <div class="col-sm-12">
                                                <input type="password" class="form-control" id="" placeholder="Enter new password">
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label class="col-sm-12" for="email">Confirm password</label>
                                            <div class="col-sm-12">
                                                <input type="password" class="form-control" id="" placeholder="confirm password">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
		
	</section>
