<!--Author: Sarath
Date:01/02/2017-->
<script src="static/js/custom/add-nfc.js" type="text/javascript" charset="utf-8"></script>

<section class="content-section clearfix">
		<div class="container-fluid no-gutter-xs">
			<div class="col-md-12 main-content-wrapper padding-50-each">
				<div class="clearfix">
					<h1 class="h4">Add NFC Tag</h1>

					<div class="personal-details margin-top-20">

						<form class="clearfix max-form-width">

						    <div class="form-group clearfix">						    	

								
								<div class="col-sm-6">
									<label for="customerName" class="">Customer Name</label>
									<input class="form-control" id="customerName" type="text">
								</div>
								
								<div class="col-sm-6">
									<label for="site" class="">Site</label>
									<input class="form-control" id="site" type="text">
								</div>
						    </div>

						     <div class="form-group clearfix">						    	

								<div class="col-sm-6">
									<label for="location" class="">Location</label>
									<input class="form-control" id="location" type="text">
								</div>
								<div class="col-sm-6">
									<label for="nfcNumber" class="">NFC Number</label>
									<input class="form-control" id="nfcNumber" type="text">
								</div>
						    </div>

						    <div class="align-left col-sm-12">
						    	<button class="btn btn-primary" id="save">Save</button>
						    	<button class="btn btn-success">Cancel</button>
						    </div>

						  </form>
					</div>				    
					
									


				</div>


			</div>
				
		</div>
		
	</section>

