/*Created By Farsana*/

    <script type="text/javascript">
       var vm = {{.vm}};
    </script>
	<script src="/static/js/custom/add-invite-user.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
    
			<div class="col-md-12 main-content-wrapper padding-50-each">
				<div class="clearfix">
					<h1 class="h4">Add User{{.vm}}</h1>

					<div class="personal-details margin-top-20">

						<form class="clearfix max-form-width" id="adduserForm" method="POST">

						     <div class="form-group clearfix">						    	

								<div class="col-sm-6">
									<label for="firstname" class="">First Name</label>
									<input class="form-control" id="firstname" type="text" name="firstname" >
								</div>
								<div class="col-sm-6">
									<label for="lastname" class="">Last Name</label>
									<input class="form-control" id="lastname" type="text" name="lastname">
								</div>
						    </div>

						    <div class="form-group clearfix">						    	
															
								
								<div class="col-sm-6">
									<label for="emailid" class="">Email-id</label>
									<input class="form-control" id="emailid" type="text" placeholder="An invitation will be sent to this mail."  name="emailid" >
								</div>

								<div class="col-sm-6">
									<label for="usertype" class="">User Type</label>
									<select class="form-control sprites-arrow-down" id="usertype" name="usertype">
								        <option>Administrator</option>
								        <option>User</option>
									</select>
								</div>

						    </div>

						    <div class="align-left col-sm-12">
						    	<button type="submit" class="btn btn-primary">Save and Invite</button>
						    	<button type ="submit" class="btn btn-success">Cancel</button>
						    	

						    </div>

						  </form>
					</div>				    

				</div>


			</div>
				

