
	<script type="text/javascript">
       var array = {{.array}};
   </script>
	<script src="/static/js/jquery.validate.js"></script>
	<script src="/static/js/custom/add-contacts.js"></script>

<title>Add Contacts</title>

<div class="col-md-12 main-content-wrapper padding-50-each">
	<div class="clearfix">
		<h1 class="h4" id="contactHead">Add Contacts</h1>

		<div class="personal-details margin-top-20">

			<form class="clearfix max-form-width" method="POST" id="contactForm">

				<div class="form-group clearfix">


					<div class="col-sm-6">
						<label for="name" class="">Name</label>
						<input class="form-control"  type="text" name="name" id="name" value="">
					</div>

					<div class="col-sm-6">
						<label for="phoneNumber" class="">Phone Number</label>
						<input class="form-control"  type="text" name="phoneNumber" id="phoneNumber" >
					</div>
				</div>

				<div class="form-group clearfix">

					<div class="col-sm-6">
						<label for="emailAddress" class="">Email-id</label>
						<input class="form-control"  type="text" name="emailAddress" id="emailAddress">
					</div>
					<div class="col-sm-6">
						<label for="address" class="">Address</label>
						<input class="form-control"  type="text" name="address" id="address">
					</div>
				</div>

				<div class="form-group clearfix">

					<div class="col-sm-6">
						<label for="state" class="">State</label>
						<input class="form-control" type="text" name="state" id="state">
					</div>
					<div class="col-sm-6">
						<label for="zipcode" class="">Zipcode</label>
						<input class="form-control"  type="text" name="zipcode" id="zipcode">
					</div>
				</div>

				<div class="align-left col-sm-12">
					<button class="btn btn-primary" type="submit" id="saveButton">Save</button>
					<button class="btn btn-success" type="button" id="cancel">Cancel</button>
				</div>

			</form>
		</div>

	</div>

</div>

</div>

</section>






