/*Created By Farsana*/

<script src="/static/js/custom/add-invite-user.js"></script>
<script src="/static/js/jquery.validate.js"></script>

<div class="col-md-12 main-content-wrapper padding-50-each">
    <div class="clearfix">
        <h1 class="h4" id="pageTitle">Invite User</h1>
        <div class="InviteUserValidationError" id="InviteUserValidationError"></div>

        <div class="personal-details margin-top-20">

            <form class="clearfix max-form-width" id="adduserForm" method="POST">

                 <div class="form-group clearfix">						    	

                    <div class="col-sm-6">
                        <label for="firstname" class="">First Name</label>
                        <input class="form-control" id="firstname" type="text" name="firstname" >
                    </div>
                    <div class="col-sm-6">
                        <label for="lastname" class="">Last Name</label>
                        <input class="form-control" id="lastname" type="text" name="lastname">
                    </div>
                </div>

                <div class="form-group clearfix">
                    <div class="col-sm-6">
                        
                        <label for="emailid" class="">Email</label>
                        <input class="form-control" id="emailid" name="emailid" type="text" placeholder="An invitation will be sent to this mail."   >
                         <div class="emailValidationError" id="emailValidationError"></div>
                    </div>
                   

                    <div class="col-sm-6">
                        <label for="usertype" class="">User Type</label>
                        <select class="form-control sprites-arrow-down" id="usertype" name="usertype">
                            <option selected disabled>Select UserType</option>
                            <option>Employee</option>
                            <option>Subcontractor</option>
                            <option>Supervisor</option>
                            <option>Administrator</option>
                        </select>
                    </div>

                </div>
                <div class="align-left col-sm-12">
                    <button type="submit" class="btn btn-primary" id="saveButton">Save and Invite</button>
                     <button type="submit" class="btn btn-primary" id="updateButton">Update</button>
                    <button type ="button" class="btn btn-success" id="cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade limit" id="limitModel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
              <p>You have reached the limit of 4 users and if you want to add more, you should pay $5 for each user
                <div class="input-no">
                  <input type="text" id="noOfUsers">
                  <span> x $5</span>
              </div>
                <div class="total" id="dynamicDiv">
                    <span>Total : </span>
                    <span id="result"></span>
                </div>
            </div>
            <div class="modal-footer">     
                <button type="button" class="btn btn-success">Continue</button>
                <button type="button" class="btn btn-success">Pay now</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


