<!--Author: Sarath
Date:01/02/2017-->
<script type="text/javascript">var array = {{.array}};</script>
<script src="/static/js/jquery.validate.js"type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
       var vm = {{ .vm}};
  </script>
<script src="/static/js/custom/add-nfc.js" type="text/javascript" charset="utf-8"></script>

			<div class="col-md-12 main-content-wrapper padding-50-each">
				<div class="clearfix">
					<h1 class="h4" id="pageTitle">Add NFC Tag</h1>

					<div class="personal-details margin-top-20">

						<form class="clearfix max-form-width" id="addNfcForm" method="post">

						    <div class="form-group clearfix">						    	

								
								<div class="col-sm-6">
									<label for="customerName" class="">Customer Name</label>
									<input class="form-control" id="customerName" name="customerName" type="text">
								</div>
								
								<div class="col-sm-6">
									<label for="site" class="">Site</label>
									<input class="form-control" id="site" name="site" type="text">
								</div>
						    </div>

						     <div class="form-group clearfix">						    	

								<div class="col-sm-6">
									<label for="location" class="">Location</label>
									<input class="form-control" id="location" name="location" type="text">
								</div>
								<div class="col-sm-6">
									<label for="nfcNumber" class="">NFC Number</label>
									<input class="form-control" id="nfcNumber" name="nfcNumber" type="text">
								</div>
						    </div>

						    <div class="align-left col-sm-12">
						    	<button class="btn btn-primary" type="submit" id="save">Save</button>
						    	<button class="btn btn-success" type="button" id="cancel">Cancel</button>
						    </div>

						  </form>
					</div>				    
					
									


				</div>


			</div>



