<style>
[data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;	
	position:absolute;
	top:30px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:30px;
	left:0px;
	padding:5px 8px;
	background:#1a1a1a;
	color:#fff;
	z-index:9;
	font-size: 0.75em;
	height:18px;
	line-height:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	white-space:nowrap;
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}
</style>




<title>Add Task</title>
<div class="col-md-12 main-content-wrapper padding-50-each">
	<div class="clearfix">
		<h4 id="taskHead">Add Task </h4>
        <div class="personal-details margin-top-20 clearfix bg-border task-add">
            <div class="col-md-8 col-sm-12 col-xs-12">
				<div class="row">
					<form class="clearfix no-bg-border" method="POST" id="taskDoneForm">
                        <div class="form-group clearfix">
                            <div class="col-sm-6">
								<label for="taskName" class="">Task Name</label>
								<input class="form-control" id="taskName" type="text" name="taskName">
                                <input  value="" id="latitudeId" type="hidden">
                                <input  value="" id="longitudeId" type="hidden">
							</div>
							<div class="col-sm-6">
								<label for="jobName" class="">Job Name</label>

								<select class="form-control sprites-arrow-down" id="jobName" name="jobName" onclick="getJobAndCustomer();">
									<option selected disabled value="">Select a Job</option>
									{{range $key, $val := .vm.JobNameArray}}
									   <option id="{{index $.vm.Key $key}}" value="{{$val}}" >{{$val}} ({{index $.vm.JobCustomerNameArray $key}})</option>
									{{end}}
								</select>
							</div>
						</div>
                        <div class="dateValidationError" id="dateValidationError"></div>
                        <div class="timeValidationError" id="timeValidationError"></div>
                        <div class="form-group clearfix">
                            <div class="col-sm-6">
								<label for="startDate" class="">Start Date and Time</label>
								<div class="callender-wrapper">
									<input type="text" id="startDate" class="datepicker form-control sprites-callender" name="startDate">
									<input type="text" class="form-control time"  placeholder="12:00" data-timepicker id="startTime" name="startTime" >
								</div>
							</div>
                            <div class="col-sm-6">
								<label for="endDate" class="">End Date and Time</label>
								<div class="callender-wrapper">
									<input type="text" id="endDate" class="datepicker form-control sprites-callender" name="endDate">
									<input type="text" class="form-control time"   placeholder="12:00" data-timepicker id="endTime" name="endTime" >
								</div>
							</div>
						</div>
                        <div class="form-group clearfix">
							<div class="col-sm-6">
								<label for="taskLocation" class="">Task Location</label>
								<input class="form-control" id="taskLocation" type="text" name="taskLocation">
							</div>
						</div>
                        <div class="form-group clearfix">
                            <div class="col-sm-12">
								<label for="taskDescription" class="">Task Description</label>
								<textarea class="form-control" rows="5" id="taskDescription" name="taskDescription"></textarea>
							</div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-sm-6">
								<label for="users" class="">Min. No. of Users to Start Work</label>
								<select class="form-control sprites-arrow-down" id="minUsers" name="minUsers">
									<option id="1" value="1">1</option>
									<option id="2" value="2">2</option>
									<option id="3" value="3">3</option>
									<option id="4" value="4">4</option>
                                    <option id="5" value="5">5</option>
                                    
								</select>
							</div>
							<div class="col-sm-6">
								<label for="log" class="">Log</label>
								<select class="form-control sprites-arrow-down" id="log" name="log">
									<option>20 Minutes</option>
									<option>30 Minutes</option>
									<option></option>
									<option></option>
								</select>
							</div>
						</div>
                        <div class="form-group clearfix">
                            <div class="col-sm-6">
								<label for="userOrGroup" class="">Users/Group<div class="minUserValidationError" id="minUserValidationError"></div></label>

								<select class="form-control sprites-arrow-down multiple-drop" id="userOrGroup" multiple="multiple" name="userOrGroup">
                                    {{range $key, $val := .vm.GroupNameArray}}
                                        <option value="{{index $.vm.UserAndGroupKey $key}}">{{$val}}</option>
                                    {{end}}
								</select>

							</div>
                            <div class="col-sm-6">
								<label for="contacts" class="">Contacts</label>

								<select class="form-control sprites-arrow-down multiple-drop" id="contactId" multiple="multiple" name="contactId" >
                                    {{range $key, $val := .vm.ContactNameArray}}
                                    <option value="{{index $.vm.ContactKey $key}}">{{$val}}</option>
                                    {{end}}
                                </select>

							</div>
                        </div>
                        <label for="fitToWork" class="form-group clearfix" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Fit To Work Declaration</label>
                        <div class="form-group clearfix">
							<div class="col-sm-6" id="TextBoxContainer">
                                <div class="plus" id="fitToWorkAdd" >
                                    <input class="form-control" id="addFitToWorkValue" type="text"  name="addFitToWorkValue"> 
                                    <img  id="btnAdd" src="/static/images/fitToWork.png" width="40" height="38" style= "float:right; margin-top:-3em; margin-right:-3em;" onclick="onload();" />
                                    
                                </div>
<!--                                onclick="initialize();"-->
                            </div>
						</div>
                         <div class="col-sm-6" >
                             <label><p><input type="checkbox" id="fitToWorkCheck" name="fitToWorkCheck">&nbsp;&nbsp;&nbsp;Fit To Work Declaration Each Time User Re-enter into Task.</p> </label>
                             <label for="workExplosure">
                                 <input type="checkbox" id="workExplosure" name="workExplosure"  >
                                     Exposure.
                             </label>
                             <div class="col-sm-12" id ="work" style="visibility: hidden; display:none;"  id="exposureId" data-tip="Break Time 20 min After 4 hrs Work">
                                 <div id="exposureTextBoxAppend" class="form-group clearfix" >
								<label for="workExplosureText" class="">Break Time</label>
<!--								<input class="form-control" rows="5" id="workExplosureText" name="workExplosureText" placeholder="20 min after 4 hrs work, 8 hrs after 10 hrs of work,.." size="35"><br>-->
                                 <input type="text"    placeholder="12:00" data-timepicker id="breakTime" name="breakTime" size="5" > After<input type="text"    placeholder="12:00" data-timepicker id="workTime" name="workTime" size="5">
                                 <img  id="btnAddForExposure" src="/static/images/fitToWork.png" width="40" height="38" style= "float:right; margin-top:-1em; margin-right:-1em;" onclick="onload();" /><br><br>
                                     </div>
							</div>
                        </div>
                        <div class="mapValidationError" id="mapValidationError"></div>
                        <div class="loginTypeValidationError" id="loginTypeValidationError"></div>
                        <div class="align-left col-sm-12">
							<button class="btn btn-primary" type="submit"  name="saveButton" id="saveButton">Save</button>
							<button class="btn btn-success" type="button" id="cancel">Cancel</button>
						</div>
                    </form>
				</div>
			</div>
            <div class="col-md-4 col-sm-12 col-xs-12">
				<div class="map-header" id="typeOfLogin"><div  style="width: 25%; float:left; margin: 0px;" class="loginTypeValidationError" ></div>
					<span>Login Type</span>
					<div class>
						<label class="radio-inline">
							<input class="radio-inline" type="radio"  name="loginType"  id="loginType1" value="NFC" >NFC
						</label>
						<label >
							<input  class="radio-inline" type="radio" name="loginType"  id="loginType2"  value="GPS" >GPS
						</label>
					</div>
				</div>
                <div class="map-wrapper">
					<div id="map" style="width:100%;height:100%"></div>
				</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vm = {{.vm}};
</script>
<script src="/static/js/jquery.validate.js"></script>
<script src="/static/js/custom/add-task.js"></script>
<script src="/static/js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/timepicker.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/custom.js" type="text/javascript" charset="utf-8"></script>
<script> 
    var defaultLatitude = "54.9682059";
    var defaultLongitude = "-1.6121358";
    var map;
    var markers = [];
    var marker;
    var geocoder;
    var initialLocation = document.getElementById("taskLocation").value;
<!--..............................................................................-->
 function onload () {
    geocoder = new google.maps.Geocoder();
        var taskLocation = document.getElementById("taskLocation");
       
        //function in case of edit task.set map according to location in text box
        if(taskLocation.length  != 0){
            
            var loc=[];
            // next line creates asynchronous request
            geocoder.geocode( { 'address': vm.TaskLocation}, function(results, status) {
                
                if (status == google.maps.GeocoderStatus.OK) {
                    loc[0]=results[0].geometry.location.lat();
                    loc[1]=results[0].geometry.location.lng();
                    var mapOptions = {
                        center: new google.maps.LatLng(loc[0], loc[1]),
                        zoom: 13
                    };
                    map = new google.maps.Map(document.getElementById('map'),
                                  mapOptions);
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(loc[0], loc[1]),
                        map: map,
                    });
                    markers.push(marker);
                    document.getElementById('latitudeId').value =loc[0];
                    document.getElementById('longitudeId').value =loc[1];
                    var templat = marker.getPosition().lat();
                     } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }

                             });
                             }
}
                             

<!--...............................................................................-->

     
    function initialize() {
        geocoder = new google.maps.Geocoder();
        var taskLocation = document.getElementById("taskLocation");
        
        //function in case of edit task.set map according to location in text box
        if(taskLocation.length  != 0){
        
            var loc=[];
            // next line creates asynchronous request
            geocoder.geocode( { 'address': vm.TaskLocation}, function(results, status) {
            
                
                if (status == google.maps.GeocoderStatus.OK) {
                    console.log("edit3");
                    loc[0]=results[0].geometry.location.lat();
                    loc[1]=results[0].geometry.location.lng();
                    var mapOptions = {
                        center: new google.maps.LatLng(loc[0], loc[1]),
                        zoom: 13,
                         mapTypeId: google.maps.MapTypeId.ROADMAP,
                                   disableDefaultUI: true
                    };
                    map = new google.maps.Map(document.getElementById('map'),
                                  mapOptions);
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(loc[0], loc[1]),
                        map: map,
                    });
                    markers.push(marker);
                    document.getElementById('latitudeId').value =loc[0];
                    document.getElementById('longitudeId').value =loc[1];
                    var templat = marker.getPosition().lat();
                    var templng = marker.getPosition().lng();
                   if(templat == "27.6648274"  &&  templng =="-81.51575350000002"){
                    
                       document.getElementById("taskLocation").value = "Clavering House, Clavering Place, Newcastle Upon Tyne";
                       geocoder.geocode( { 'address': "Clavering House, Clavering Place, Newcastle Upon Tyne"}, function(results, status) {
                           if (status == google.maps.GeocoderStatus.OK) {
                               console.log("edit4");
                               loc[0]=results[0].geometry.location.lat();
                               loc[1]=results[0].geometry.location.lng();
                               var mapOptions = {
                                   center: new google.maps.LatLng(loc[0], loc[1]),
                                   zoom: 13,
                                   mapTypeId: google.maps.MapTypeId.ROADMAP,
                                   disableDefaultUI: true
                               };
                               map = new google.maps.Map(document.getElementById('map'),
                                  mapOptions);
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(loc[0], loc[1]),
                        map: map,
                    });
                    markers.push(marker);
                    document.getElementById('latitudeId').value =loc[0];
                    document.getElementById('longitudeId').value =loc[1];
                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
                google.maps.event.addListener(map, 'click', function (event) {
                    DeleteMarkers();
                    var latlng = new google.maps.LatLng(event.latLng.lat(),event.latLng.lng());
                    placeMarker(event.latLng, map);
                    var geocoder = geocoder = new google.maps.Geocoder();
                    geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            if (results[1]) {
                                document.getElementById("taskLocation").value = results[1].formatted_address ;
                            }
                            document.getElementById('latitudeId').value =event.latLng.lat();
                            document.getElementById('longitudeId').value =event.latLng.lng();
                        }
                    });
                });
            });
                       
                   }
                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
                google.maps.event.addListener(map, 'click', function (event) {
                    DeleteMarkers();
                    var latlng = new google.maps.LatLng(event.latLng.lat(),event.latLng.lng());
                    placeMarker(event.latLng, map);
                    var geocoder = geocoder = new google.maps.Geocoder();
                    geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            if (results[1]) {
                                document.getElementById("taskLocation").value = results[1].formatted_address ;
                            }
                            document.getElementById('latitudeId').value =event.latLng.lat();
                            document.getElementById('longitudeId').value =event.latLng.lng();
                        }
                    });
                });
            });
        }
        
        var mapOptions = {
            center: new google.maps.LatLng(defaultLatitude, defaultLongitude),
            zoom: 14,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
                                   disableDefaultUI: true
        };
        map = new google.maps.Map(document.getElementById('map'),
                                  mapOptions);
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(defaultLatitude, defaultLongitude),
            map: map,
        });
        google.maps.event.addListener(map, 'click', function (event) {
            DeleteMarkers();
            var latlng = new google.maps.LatLng(event.latLng.lat(),event.latLng.lng());
            placeMarker(event.latLng, map);
            var geocoder = geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[1]) {
                         document.getElementById("taskLocation").value = results[1].formatted_address ;
                    }
                    document.getElementById('latitudeId').value =event.latLng.lat();
                    document.getElementById('longitudeId').value =event.latLng.lng();
                }
            });
        });
        function placeMarker(position, map) {
            var marker = new google.maps.Marker({
                position: position,
                map: map
            });
            map.panTo(position);
            markers.push(marker);
        }
        //delete markers
        function DeleteMarkers() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = [];
        };
       

  // get places auto-complete when user type in location-text-box
        var input = /** @type {HTMLInputElement} */
            (
                document.getElementById('taskLocation'));
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
        var infowindow = new google.maps.InfoWindow();
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }
            document.getElementById('latitudeId').value =place.geometry.location.lat();
            document.getElementById('longitudeId').value =place.geometry.location.lng();

    // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(15); // Why 17? Because it looks good.
            }
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);
            markers.push(marker);
            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''), (place.address_components[1] && place.address_components[1].short_name || ''), (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFl3U2s0vqjaN-6rvAaOA8Ts1cfDss_KM&libraries=geometry,places&callback=initialize"></script>