

/*Created By Farsana*/
 <script type="text/javascript">
     var vm = {{.vm}};
</script>       
<script src="/static/js/custom/add-group.js"></script>
<script src="/static/js/jquery.validate.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/custom.js" type="text/javascript" charset="utf-8"></script>

<div class="col-md-12 main-content-wrapper padding-50-each">
		<div class="clearfix">
			<h1 class="h4" id = "groupHead">Add Group</h1>

				<div class="personal-details margin-top-20">

						<form class="clearfix max-form-width" id="addgroupForm" method="post">

						    <div class="form-group clearfix">						    	

								<div class="col-sm-6">
									<label for="groupName" class="">Group Name</label>
									<input class="form-control" id="groupName" type="text" name="groupName">
								</div>
                                <div class="col-sm-6">
									<label for="addUser" class="">Add Users to Group</label>
								    <select class="form-control sprites-arrow-down multiple-drop" id="selectedUserIds" name="selectedUserIds" multiple="multiple">
                                        {{range $key, $val := .vm.GroupMembers}}
									       <option value="{{index $.vm.GroupKey $key}}">{{$val}}</option> 
                                        {{end}}
								  	</select>
                                </div>
                            </div>
                            <div class="align-left col-sm-12">
						    	<button class="btn btn-primary">Save</button>
						    	<button class="btn btn-success">Cancel</button>
						    </div>
                    </form>
            </div>
    </div>
</div>