<title>Add Task</title>
<div class="col-md-12 main-content-wrapper padding-50-each">
	<div class="clearfix">
		<h4 id="taskHead">Add Task </h4>
        <div class="personal-details margin-top-20 clearfix bg-border task-add">
            <div class="col-md-9 col-sm-12 col-xs-12">
				<div class="row">
					<form class="clearfix no-bg-border" method="POST" id="taskDoneForm">
                        <div class="form-group clearfix">
                            <div class="col-sm-6">
								<label for="taskName" class="">Task Name</label>
								<input class="form-control" id="taskName" type="text" name="taskName">
                                <input  value="" id="latitudeId" type="hidden">
                                <input  value="" id="longitudeId" type="hidden">
							</div>
							<div class="col-sm-6">
								<label for="jobName" class="">Job Name</label>

								<select class="form-control sprites-arrow-down" id="jobName" name="jobName" onchange="getJobAndCustomer();">
									<option selected disabled value="">Select a Job</option>
									{{range $key, $val := .vm.JobNameArray}}
									   <option id="{{index $.vm.Key $key}}" value="{{$val}}" >{{$val}} ({{index $.vm.JobCustomerNameArray $key}})</option>
									{{end}}
								</select>
							</div>
						</div>
                        <div class="dateValidationError" id="dateValidationError"></div>
                        <div class="form-group clearfix">
                            <div class="col-sm-6">
								<label for="startDate" class="">Start Date and Time</label>
								<div class="callender-wrapper">
									<input type="text" id="startDate" class="datepicker form-control sprites-callender" name="startDate">
									<input type="text" class="form-control time"  placeholder="12:00" data-timepicker id="startTime" name="startTime" >
								</div>
							</div>
                            <div class="col-sm-6">
								<label for="endDate" class="">End Date and Time</label>
								<div class="callender-wrapper">
									<input type="text" id="endDate" class="datepicker form-control sprites-callender" name="endDate">
									<input type="text" class="form-control time"   placeholder="12:00" data-timepicker id="endTime" name="endTime" >
								</div>
							</div>
						</div>
                        <div class="form-group clearfix">
							<div class="col-sm-6">
								<label for="taskLocation" class="">Task Location</label>
								<input class="form-control" id="taskLocation" type="text" name="taskLocation">
							</div>
						</div>
                        <div class="form-group clearfix">
                            <div class="col-sm-12">
								<label for="taskDescription" class="">Task Description</label>
								<textarea class="form-control" rows="5" id="taskDescription" name="taskDescription"></textarea>
							</div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-sm-6">
								<label for="users" class="">Min. No. of Users to Start Work</label>
								<select class="form-control sprites-arrow-down" id="minUsers" name="minUsers">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>5</option>
								</select>
							</div>
							<div class="col-sm-6">
								<label for="log" class="">Log</label>
								<select class="form-control sprites-arrow-down" id="log" name="log">
									<option>20 Minutes</option>
									<option>30 Minutes</option>
									<option></option>
									<option></option>
								</select>
							</div>
						</div>
                        <div class="form-group clearfix">
                            <div class="col-sm-6">
								<label for="userOrGroup" class="">Users/Group<div class="minUserValidationError" id="minUserValidationError"></div></label>

								<select class="form-control sprites-arrow-down multiple-drop" id="userOrGroup" multiple="multiple" name="userOrGroup">
                                    {{range $key, $val := .vm.GroupNameArray}}
                                        <option value="{{index $.vm.UserAndGroupKey $key}}">{{$val}}</option>
                                    {{end}}
								</select>

							</div>
                            <div class="col-sm-6">
								<label for="contacts" class="">Contacts</label>

								<select class="form-control sprites-arrow-down multiple-drop" id="contactId" multiple="multiple" name="contactId" >
                                    {{range $key, $val := .vm.ContactNameArray}}
                                    <option value="{{index $.vm.ContactKey $key}}">{{$val}}</option>
                                    {{end}}
                                </select>

							</div>
                        </div>
                        <div class="form-group clearfix">
							<div class="col-sm-6" id="TextBoxContainer">
								<label for="fitToWork" class="">Fit To Work Declaration</label>
<!--
								<div class="plus">
                                    <input class="form-control" id="ex2" type="text">
                                    <span class="add-decl">+</span>
                                    <span class="delete-decl">+</span>
                                </div>
-->
                                <div class="plus" id="fitToWorkAdd">
                                    <input class="form-control" id="addFitToWorkValue" type="text"  name="addFitToWorkValue"> 
<!--
                                    <span class="add-decl"  >+</span>
                                    <span class="delete-decl">+</span>

-->                                 
                                 
                                   
<!--                                    <button  class="add-decl" id="btnAdd" >+</button>-->
                                    <input type="button"  class="add-decl" value="'+'" id="btnAdd" >
                                </div>
                            </div>
						</div>
                        <div class="mapValidationError" id="mapValidationError"></div>
                        <div class="align-left col-sm-12">
							<button class="btn btn-primary" type="submit"  name="saveButton" id="saveButton">Save</button>
							<button class="btn btn-success" type="button" id="cancel">Cancel</button>
						</div>
                    </form>
				</div>
			</div>
            <div class="col-md-3 col-sm-12 col-xs-12">
				<div class="map-header" id="typeOfLogin"><div  style="width: 25%; float:left; margin: 0px;" class="loginTypeValidationError" id="loginTypeValidationError"></div>
					<span>Login Type</span>
					<div class>
						<label class="radio-inline">
							<input class="radio-inline" type="radio"  name="loginType"  id="loginType" value="NFC" >NFC
						</label>
						<label >
							<input  class="radio-inline" type="radio" name="loginType"  id="loginType"  value="GPS" >GPS
						</label>
					</div>
				</div>
                <div class="map-wrapper">
					<div id="map" style="width:100%;height:100%"></div>
				</div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
       var vm = {{.vm}};
</script>
<script src="/static/js/jquery.validate.js"></script>
<script src="/static/js/custom/add-task.js"></script>
<script src="/static/js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/timepicker.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/custom.js" type="text/javascript" charset="utf-8"></script>

<!--
   <script>
   function myMap() {
       var mapCanvas = document.getElementById("map");
       var mapOptions = {
           center: new google.maps.LatLng("9.9312", "76.2673"),
           zoom: 15
       }
       var map = new google.maps.Map(mapCanvas, mapOptions);
       google.maps.event.addListener(map, 'click', function (e) {
           alert("Latitude: " + e.latLng.lat() + "\r\nLongitude: " + e.latLng.lng());
           document.getElementById('latitudeId').value =e.latLng.lat();
           document.getElementById('longitudeId').value =e.latLng.lng();
           var marker = new google.maps.Marker({
               position: new google.maps.LatLng(e.latLng.lat(), e.latLng.lng()),
               map: map,
           });
       });
       
   }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFl3U2s0vqjaN-6rvAaOA8Ts1cfDss_KM&callback=myMap"></script>
-->
<script>
    var map;
    var marker;
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng("9.9312", "76.2673"),
            zoom: 15
        };
       
       
        map = new google.maps.Map(document.getElementById('map'),
                                  mapOptions);

          marker = new google.maps.Marker({
               position: new google.maps.LatLng("9.9312", "76.2673"),
               map: map,
              draggable: true
           });
       
        google.maps.event.addListener(marker, 'dragend', function (event) {
        
            var latlng = new google.maps.LatLng(event.latLng.lat(),event.latLng.lng());
            var geocoder = geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[1]) {
                         document.getElementById("taskLocation").value = results[1].formatted_address ;
                    }
                }
            });
            
        });

  // get places auto-complete when user type in location-text-box
        var input = /** @type {HTMLInputElement} */
            (
                document.getElementById('taskLocation'));
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
        var infowindow = new google.maps.InfoWindow();
//        marker = new google.maps.Marker({
//            map: map,
//            anchorPoint: new google.maps.Point(0, -29),
//            draggable: true
//        });
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }
            document.getElementById('latitudeId').value =place.geometry.location.lat();
            document.getElementById('longitudeId').value =place.geometry.location.lng();

    // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17); // Why 17? Because it looks good.
            }
//            marker.setIcon( /** @type {google.maps.Icon} */ ({
//                url: place.icon,
//                size: new google.maps.Size(71, 71),
//                origin: new google.maps.Point(0, 0),
//                anchor: new google.maps.Point(17, 34),
//                scaledSize: new google.maps.Size(35, 35)
//  
//            }));
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);
            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''), (place.address_components[1] && place.address_components[1].short_name || ''), (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }
        });
    }
   </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFl3U2s0vqjaN-6rvAaOA8Ts1cfDss_KM&libraries=geometry,places&callback=initialize"></script>