<title>Add Task</title>
<div class="col-md-12 main-content-wrapper padding-50-each">
	<div class="clearfix">
		<h4 id="taskHead">Add Task </h4>
        <div class="personal-details margin-top-20 clearfix bg-border task-add">
            <div class="col-md-9 col-sm-12 col-xs-12">
				<div class="row">
					<form class="clearfix no-bg-border" method="POST" id="taskDoneForm">
                        <div class="form-group clearfix">
                            <div class="col-sm-6">
								<label for="taskName" class="">Task Name</label>
								<input class="form-control" id="taskName" type="text" name="taskName">
							</div>
							<div class="col-sm-6">
								<label for="jobName" class="">Job Name</label>

								<select class="form-control sprites-arrow-down" id="jobName" name="jobName" onchange="getJobAndCustomer();">
									<option selected disabled value="">Select a Job</option>
									{{range $key, $val := .vm.JobNameArray}}
									   <option id="{{index $.vm.Key $key}}" value="{{$val}}" >{{$val}} ({{index $.vm.JobCustomerNameArray $key}})</option>
									{{end}}
								</select>
							</div>
						</div>
                        <div class="form-group clearfix">
                            <div class="col-sm-6">
								<label for="startDate" class="">Start Date and Time</label>
								<div class="callender-wrapper">
									<input type="text" id="startDate" class="datepicker form-control sprites-callender" name="startDate">
									<input type="text" class="form-control time"  value="" placeholder="12:00" data-timepicker >
								</div>
							</div>
							<div class="col-sm-6">
								<label for="endDate" class="">End Date and Time</label>
								<div class="callender-wrapper">
									<input type="text" id="endDate" class="datepicker form-control sprites-callender" name="endDate">
									<input type="text" class="form-control time"  value="" placeholder="12:00" data-timepicker >
								</div>
							</div>
						</div>
                        <div class="form-group clearfix">
							<div class="col-sm-6">
								<label for="taskLocation" class="">Task Location</label>
								<input class="form-control" id="taskLocation" type="text" name="taskLocation">
							</div>
						</div>
                        <div class="form-group clearfix">
                            <div class="col-sm-12">
								<label for="taskDescription" class="">Task Description</label>
								<textarea class="form-control" rows="5" id="taskDescription" name="taskDescription"></textarea>
							</div>
						</div>
                        <div class="form-group clearfix">
                            <div class="col-sm-6">
								<label for="users" class="">Min. No. of Users to Start Work</label>
								<select class="form-control sprites-arrow-down" id="users" name="users">
									<option>1</option>
									<option>5</option>
									<option>2</option>
									<option>3</option>
								</select>
							</div>
							<div class="col-sm-6">
								<label for="log" class="">Log</label>
								<select class="form-control sprites-arrow-down" id="log" name="log">
									<option>20 Minutes</option>
									<option>30 Minutes</option>
									<option></option>
									<option></option>
								</select>
							</div>
						</div>
                        <div class="form-group clearfix">
                            <div class="col-sm-6">
								<label for="userOrGroup" class="">Users/Group</label>

								<select class="form-control sprites-arrow-down multiple-drop" id="userOrGroup" multiple="multiple" name="userOrGroup">
                                    {{range $key, $val := .vm.GroupNameArray}}
                                        <option value="{{index $.vm.UserAndGroupKey $key}}">{{$val}}</option>
                                    {{end}}
								</select>

							</div>
                            <div class="col-sm-6">
								<label for="contacts" class="">Contacts</label>

								<select class="form-control sprites-arrow-down multiple-drop" id="contactId" multiple="multiple" name="contactId" >
                                    {{range $key, $val := .vm.ContactNameArray}}
                                    <option value="{{index $.vm.ContactKey $key}}">{{$val}}</option>
                                    {{end}}
                                </select>

							</div>
                        </div>
                        <div class="form-group clearfix">
							<div class="col-sm-6" id="fitToWork">
								<label for="fitToWork" class="">Fit To Work Declaration</label>
<!--
								<div class="plus">
                                    <input class="form-control" id="ex2" type="text">
                                    <span class="add-decl">+</span>
                                    <span class="delete-decl">+</span>
                                </div>
-->
                                <div class="plus" id="fitToWork">
                                    <input class="form-control" id="ex2" type="text">
                                    <span class="add-decl" onclick="addFitToWork();">+</span>
                                    <span class="delete-decl">+</span>
                                </div>
                            </div>
						</div>
                        <div class="align-left col-sm-12">
							<button class="btn btn-primary" type="submit" id="saveButton">Save</button>
							<button class="btn btn-success" type="button" id="cancel">Cancel</button>
						</div>
                    </form>
				</div>
			</div>
            <div class="col-md-3 col-sm-12 col-xs-12">
				<div class="map-header" id="typeOfLogin">
					<span>Login Type</span>
					<div class=>
						<label class="radio-inline">
							<input class="radio-inline" type="radio"  name="loginType"  id="loginType" value="NFC" >NFC
						</label>
						<label >
							<input  class="radio-inline" type="radio" name="loginType"  id="loginType"  value="GPS" >GPS
						</label>
					</div>
				</div>
                <div class="map-wrapper">
					<div id="map" style="width:100%;height:100%"></div>
				</div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
       var vm = {{.vm}};
</script>
<script src="/static/js/jquery.validate.js"></script>
<script src="/static/js/custom/add-task.js"></script>
<script src="/static/js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/timepicker.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/custom.js" type="text/javascript" charset="utf-8"></script>

<script>
		function myMap() {
            var mapCanvas = document.getElementById("map");
            var mapOptions = {
                center: new google.maps.LatLng(51.5, -0.2),
                zoom: 10
            }
            var map = new google.maps.Map(mapCanvas, mapOptions);
        }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFl3U2s0vqjaN-6rvAaOA8Ts1cfDss_KM&callback=myMap"></script>

