<title>Contact Details</title>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>
    <script type="text/javascript">
       var vm = {{.vm}};
   </script>
    <script src="/static/js/custom/contacts-details.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
</head>
<div class="col-md-12 main-content-wrapper padding-50-each">
    <div class="clearfix">
        <h1 class="h4" id="contactHead">Contact Details</h1>
        <div class="personal-details margin-top-20" style="overflow: auto;padding-bottom: 25px;">
            <div class="table-wrapper">
                <table class="table table-striped table-bordered   dt-responsive nowrap" id="contact-details">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>State</th>
                            <th>Zipcode</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure about this?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="confirm">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
         Modal content
        <div class="modal-content">
            <div class="modal-body">
                <p>This contact is assigned in one or more tasks. Do you want to unassign and delete this contact?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="confirm">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">No</button>
            </div>
        </div>
    </div>
</div>
