<title>Contact Details</title>

<head>
	<script type="text/javascript">
       var vm = {{.vm}};
   </script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>
	<script src="static/js/custom/contacts-details.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="static/js/jquery.dataTables.min.js" type="text/javascript" charset="utf-8"></script>-->
	<!--<script src="static/js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</head>
<div class="col-md-12 main-content-wrapper padding-50-each">
	<div class="clearfix">

		<h1 class="h4">Contact Details</h1>

		<div class="personal-details margin-top-20">

			<div class="table-wrapper">
				<!--<table id="example" class="display" width="100%">-->

				<table class="table table-striped table-bordered   dt-responsive nowrap" id="example">
					<thead>
					<tr>
						<th>Name</th>
						<th>Address</th>
						<th>State</th>
						<th>Zipcode</th>
						<th>Email</th>
						<th>Phone Number</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>Helen</td>
						<td>Abddv</td>
						<td>Kerala</td>
						<td>658874</td>
						<td>john@example.com</td>
						<td>
							<div class="edit-wrapper">
								<span>Invited</span>
								<span class="icn">
							        			<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							        			<i class="fa fa-trash-o" aria-hidden="true"></i>
							        		</span>
							</div>
						</td>
					</tr>


					<tr>
						<td>Helen</td>
						<td>Abddv</td>
						<td>Kerala</td>
						<td>658874</td>
						<td>john@example.com</td>
						<td>
							<div class="edit-wrapper">
								<span>Invited</span>
								<span class="icn">
							        			<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							        			<i class="fa fa-trash-o" aria-hidden="true"></i>
							        		</span>
							</div>
						</td>
					</tr>
					<tr>
						<td>Helen</td>
						<td>Abddv</td>
						<td>Kerala</td>
						<td>658874</td>
						<td>john@example.com</td>
						<td>
							<div class="edit-wrapper">
								<span>Invited</span>
								<span class="icn">
							        			<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							        			<i class="fa fa-trash-o" aria-hidden="true"></i>
							        		</span>
							</div>
						</td>
					</tr>
					<tr>
						<td>Helen</td>
						<td>Abddv</td>
						<td>Kerala</td>
						<td>658874</td>
						<td>john@example.com</td>
						<td>
							<div class="edit-wrapper">
								<span>Invited</span>
								<span class="icn">
							        			<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							        			<i class="fa fa-trash-o" aria-hidden="true"></i>
							        		</span>
							</div>
						</td>
					</tr>
					<tr>
						<td>Helen</td>
						<td>Abddv</td>
						<td>Kerala</td>
						<td>658874</td>
						<td>john@example.com</td>
						<td>
							<div class="edit-wrapper">
								<span>Invited</span>
								<span class="icn">
							        			<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							        			<i class="fa fa-trash-o" aria-hidden="true"></i>
							        		</span>
							</div>
						</td>
					</tr>
					<tr>
						<td>Helen</td>
						<td>Abddv</td>
						<td>Kerala</td>
						<td>658874</td>
						<td>john@example.com</td>
						<td>
							<div class="edit-wrapper">
								<span>Invited</span>
								<span class="icn">
							        			<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							        			<i class="fa fa-trash-o" aria-hidden="true"></i>
							        		</span>
							</div>
						</td>
					</tr>
					<tr>
						<td>Helen</td>
						<td>Abddv</td>
						<td>Kerala</td>
						<td>658874</td>
						<td>john@example.com</td>
						<td>
							<div class="edit-wrapper">
								<span>Invited</span>
								<span class="icn">
							        			<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							        			<i class="fa fa-trash-o" aria-hidden="true"></i>
							        		</span>
							</div>
						</td>
					</tr>
					<tr>
						<td>Helen</td>
						<td>Abddv</td>
						<td>Kerala</td>
						<td>658874</td>
						<td>john@example.com</td>
						<td>
							<div class="edit-wrapper">
								<span>Invited</span>
								<span class="icn">
							        			<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							        			<i class="fa fa-trash-o" aria-hidden="true"></i>
							        		</span>
							</div>
						</td>
					</tr>









					</tbody>
				</table>


			</div>

		</div>




	</div>


</div>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
<script>

		$('#tbl_details').dataTable();
	</script>