<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>
<!--    <script src="/static/js/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="/static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
       var vm = {{.array}};
   </script>
    <script src="/static/js/custom/dash-board.js"></script>
    <script src="/static/js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/select2.min.js"></script>
    <script src="/static/js/custom.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/radial-progress-bar.js"></script>
    <script src="/static/js/barChart.jquery.js"></script>
    </head>
<body>
    <div class="col-md-12 main-content-wrapper padding-50-each">
        <div class="clearfix dashboard">
            <h1 class="h4">Dashboard</h1>
            <div class="piechart-wrapper clearfix">
                <div class="pie1 col-sm-6">
                    <p>All jobs</p>
                    <div class="piechart">
                        <div id="pie1" class="example" style="width: 100px;"></div>
                        <div class="range">
                            <span class="range-completed">Competed</span>
                            <span class="range-pending">Pending</span>
                        </div>
                    </div>
                </div>
                <div class="pie2 col-sm-6">
                    <p>All users</p>
                    <div class="piechart">
                        <div id="pie2" class="example" style="width: 100px;"></div>
                        <div class="range">
                            <span class="range-invited">Invited</span>
                            <span class="range-accepted">Accepted</span>
                            <span class="range-rejected">Rejected</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="task-graph-wrapper">
                <select class="form-control sprites-arrow-down"  onchange="getTaskDetails();" id="jobName" name="jobName">
                   <option selected disabled value="SelectAJob">Select a Job</option>
                    <option  value="All">All</option>
                    {{range $key, $val := .array.JobNameArray}}
                    <option id="{{index $.array.Key $key}}" value="{{$val}}" >{{$val}} </option>
                    {{end}}
                </select>
                <div class="task-graph">
                    <div class="col-sm-6 tsk-lst-wrapper">
                        <h4>Task Listing</h4>
                        <div class="tsk-lst" id="taskListing" name="taskListing">
                            
<!--                            <span><a href="/0">See More Tasks</a></span>-->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h5 style="text-align: center;margin-bottom: -36px;margin-top: -3px;">Task Status and Users</h5>
                        <div id="chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>

<script>
    $(document).ready(function() {
        jQuery("#pie1").radialPieChart("init", {
            'font-size': 13,
            'fill': 25,
            "size": 150,
            'text-color': "transparent",
            'data': [
                {'color': "#29a0ff", 'perc': vm.CompletedTask},
                {'color': "#6abdff", 'perc': vm.PendingTask}
            ]
        });
        jQuery("#pie2").radialPieChart("init", {
            'font-size': 13,
            'fill': 25,
            "size": 150,
            'text-color': "transparent",
            'data': [
                {'color': "#5b93c2", 'perc': vm.PendingUsers },
                {'color': "#06599e", 'perc': vm.AcceptedUsers},
                {'color': "#8fb4d3", 'perc':vm.RejectedUsers}
            ]
        });
    } );
</script>
<script>
    $(document).ready(function(){
        $('#chart').barChart({
            height : 379,
            bars : [
                {
                    name : 'Dataset 1',
                    values : [['user1',40],['user2',30],['user3',10],['user4',100]]
                }
            ]
        });
    });
</script>
</body>
</html>