<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dures</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/style.css">

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgcNVR6h4uvt9ZlwyruCz3xbABfjoTxvk" type="text/javascript"></script>

    <script src="/static/js/webrtc/jquery.min.js"></script>
    <script src="/static/js/webrtc/pubnub-3.7.14.min.js"></script>
    <script src="/static/js/webrtc/webrtc.js"></script>

    <style>
        .test video{
            height: 350px;
            width: 700px;
            background-color: #000;
        }
    </style>
</head>
<body>
	<section class="header">
		<div class="container-fluid">
			<header>
				<div class="logo">
					<img src="/static/images/logo.png" alt="" class="img-responsive">
				</div>
				
				<div class="right-menu">
					<ul>
						<li><a href="">About</a></li>
						<li><a href="">Contact</a></li>
						<li><a href="">Licence</a></li>
					</ul>
					<!-- <div class="dropdown">
					    <button class="dropdown-toggle no-button-style" type="button" data-toggle="dropdown"><i class="sprites-user-dropdown"></i>
					    <span class="caret"></span></button>
					    <ul class="dropdown-menu">
					      <li><a href="#">user</a></li>
					      <li><a href="#">Customer</a></li>
					      <li><a href="#">Logout</a></li>
					    </ul>
					</div> -->
				</div>
			</header>
		</div>
	</section>

	<section class="content-section clearfix">
        <h4 id="uname" style="padding-left: 60px;">User Name</h4>
		<div class="container-fluid no-gutter-xs padding-50-each dures">
            
			<div class="col-sm-6 map-wrapper">
				
				<div id="googleMap"></div>
                
			</div>
			<div class="col-sm-6 img-wrapper">
                <div id="vid-box" style="width:100%;display:none;" class="test"></div>
                <img src="/static/images/video_frame.jpg" alt="" class="video-demo img-responsive" style="height: 350px; width: 100%;">
			</div>
				
		</div>
		
	</section>

	<section class="footer">
		<div class="container-fluid">
			<footer>
				<div class="footer-logo">
					<img src="images/logo-footer.png" alt="" class="img-responsive">
				</div>
				<ul>
					<li>Copyright <span>Passporte</span> Limited</li>
					<li>All Rights Reserved</li>
				</ul>
			</footer>
		</div>
	</section>



    <script>
        var video_out = document.getElementById("vid-box");
        function login() {
            var phone = window.phone = PHONE({
                number: "passporte", // listen on username line else Anonymous
                publish_key: 'pub-c-c07e26b9-10d6-431a-b137-331774ce286e',
                subscribe_key: 'sub-c-fa0d94dc-ff3a-11e6-8ce0-0619f8945a4f',
            });
            phone.ready(function () { /*form.username.style.background = "#55ff5b"; */});
            phone.receive(function (session) {
                console.log(session);
                $(".video-demo").hide();
                $("#vid-box").css("display", "block");
                var _endUser = session.number.split("##");
                $('#uname').text(_endUser[0] + "(" + _endUser[1] + ")");
                initMap(_endUser[2], _endUser[3]);
                session.connected(function (session) { video_out.appendChild(session.video); });
                session.ended(function (session) { video_out.innerHTML = ''; });
            });
            return false; 	// So the form does not submit.
        }

        login();

        //$(document).ready(function () {
        //    login();
        //});

        function initMap(latitude, longitude) {
        
            var myLatlng = new google.maps.LatLng(latitude, longitude);
            var myOptions = {
                zoom: 16,
                center: myLatlng,
                mapTypeControl: false
            };
            map = new google.maps.Map(document.getElementById("googleMap"), myOptions);

            var marker = new google.maps.Marker({
                position: myLatlng
            });
            marker.setMap(map);
        }
        initMap(-16.141947, 156.240464);
    </script>
	
    
    

    <!--<script src="js/webrtc/jquery.min.js"></script>-->

	<script src="/static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>



<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgcNVR6h4uvt9ZlwyruCz3xbABfjoTxvk&callback=myMap"></script> -->

	<script src="/static/js/custom.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>