
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
    <script src="/static/js/jquery.validate.js"></script>
    <script src="/static/js/custom/forgot-password.js"></script>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="/static/css/custom/custom.css">
</head>
<div class="col-md-12 main-content-wrapper padding-50-each">
    <div class="clearfix">
        <h1 class="h4">Forgot password</h1>
        <div class="personal-details margin-top-20">
            <form class="clearfix max-form-width" id="forgotPassword" method="POST">
                <div class="form-group clearfix">
                    <div class="col-sm-6">
                        <label  class="">Email</label>
                        <input class="form-control" type="text" name="emailAddress" id="emailAddress">
                    </div>
                    <div class="col-sm-6" style="padding-top: 27px;">
<!--                                <button class="btn btn-sm"  id="emailCheck"  formmethod="post" action="http://www.google.fr" type="button" >Get key</button><span id="countdown"></span>-->
                                <button  type="button" class="btn btn-success" id="emailCheck" name="emailCheck"  >Get key</button>
                                <span id="notifier"></span>
<!--
                                &emsp; <button class="btn btn-sm" id="emailCheck"  formmethod="post" action="http://www.google.fr">resend key</button><span id="countdown"></span>
                                <span id="notifier"></span>

-->
                        <button  class="btn btn-success" id="emailCheck"   name="emailCheck"  type="button">resend key</button>
                        
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <div class="verifyValidationError" id="verifyValidationError"></div>

                            <div class="col-sm-6">
                                <label  class="">Enter key</label>
                                <input class="form-control"  type="text" id="verificationKey" name="verificationKey">
                            </div>
                            <div class="col-sm-6" style="padding-top: 27px;">
<!--                                <button class="btn btn-sm" id="verifyKey" name="verifyKey"  data-toggle="modal" formmethod="post"  data-target="#change-pass">Verify key</button>-->
                                <a class="btn btn-primary" data-toggle="modal"  id="verifyKey" name="verifyKey" >Verify key</a>
                            </div>
                        </div>

<!--
                        <div class="form-group clearfix" style="visibility: hidden; display:none;" id="newPassword">

                            <div class="col-sm-6">
                                <label  class="">New password</label>
                                <input class="form-control" type="password" id="newPassword" name="newPassword"><br>
                            </div>
                        </div>

                        <div class="form-group clearfix" style="visibility: hidden; display:none;" id="confirmPassword">

                            <div class="col-sm-6">
                                <label  class="">Confirm password</label>
                                <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"><br><br>
                            </div>
                        </div>
                <div class="align-left col-sm-12"  >
                    <button class="btn btn-primary"  style="visibility: hidden; display:none;" id="resetButton"  type="submit" name="resetButton" >Reset Password</button>
                    <button class="btn btn-success" id="cancel">Cancel</button>
-->
                </div>
            </form>
        
        
           <div i class="modal fade" id="change-pass" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Change password</h4>
                                </div>
                                <form id="adminPasswordChangeModal" name="adminPasswordChangeModal" method="post" >
                                    <div class="modal-body">
                                        <div class="form-group clearfix">
                                            <label class="col-sm-12" for="newPassword">New password</label>
                                            <div class="col-sm-12">
                                                <input type="password" class="form-control" id="newPassword" placeholder="Enter new password" name="newPassword">
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <label class="col-sm-12" for="confirmpassword">Confirm password</label>
                                            <div class="col-sm-12">
                                                <input type="password" class="form-control" id="confirmpassword" placeholder="confirm password" name="confirmpassword">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success"  id="updateAdminPassword" name="updateAdminPassword" >Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
<!--<script src="/static/js/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>-->
<!--<script src="/static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>-->
