
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="/static/js/custom/forgot-password.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>
        <div class="col-md-12 main-content-wrapper padding-50-each">
            <div class="clearfix">
                <h1 class="h4">Forgot password</h1>

                <div class="personal-details margin-top-20">

                    <form class="clearfix max-form-width" name="forgotPassword" id="forgotPassword" methd="post">

                        <div class="form-group clearfix">


                            <div class="col-sm-6">
                                <label  class="">Email</label>
                                <input class="form-control" type="text" name="emailAddress" id="emailAddress">
                            </div>

                            <div class="col-sm-6" style="padding-top: 27px;">
                                <button class="btn btn-sm"  id="emailCheck"  formmethod="post" action="http://www.google.fr" >Get key</button><span id="countdown"></span>
                                <span id="notifier"></span>
                                &emsp; <button class="btn btn-sm" id="emailCheck"  formmethod="post" action="http://www.google.fr">resend key</button><span id="countdown"></span>
                                <span id="notifier"></span>
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <div class="verifyValidationError" id="verifyValidationError"></div>

                            <div class="col-sm-6">
                                <label  class="">Enter key</label>
                                <input class="form-control"  type="text" id="verificationKey" name="verificationKey">
                            </div>
                            <div class="col-sm-6" style="padding-top: 27px;">
                                <button class="btn btn-sm" id="verifyKey" name="verifyKey" formmethod="post">Verify key</button>
                            </div>
                        </div>

                        <div class="form-group clearfix" style="visibility: hidden; display:none;" id="newPassword">

                            <div class="col-sm-6">
                                <label  class="">New password</label>
                                <input class="form-control" type="password" id="newPassword" name="newPassword"><br>
                            </div>
                        </div>

                        <div class="form-group clearfix" style="visibility: hidden; display:none;" id="confirmPassword">

                            <div class="col-sm-6">
                                <label  class="">Confirm password</label>
                                <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"><br><br>
                            </div>
                        </div>

                        <div class="align-left col-sm-12"  >
                            <button class="btn btn-primary"  style="visibility: hidden; display:none;" id="resetButton" formmethod="post" type="submit">Reset Password</button>
                            <button class="btn btn-success" id="cancel">Cancel</button>
                        </div>

                    </form>
                </div>




            </div>


        </div>



<script src="/static/js/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
