/*Created By Farsana*/
<script type="text/javascript">
       var vm = {{.vm}};
</script>
<script src="static/js/custom/group-details.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>

<div class="col-md-12 main-content-wrapper padding-50-each">
	<div class="clearfix">
		<h1 class="h4">Group Details </h1>
		<div class="personal-details margin-top-20">

			<div class="table-wrapper">
				<table id="group-table" class="display" width="100%">
                    <thead>
                        <tr>
                            <th>Group Name</th>
                            <th>Group Members</th>
                            <th>Users</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>


				
			</div>

		</div>

	</div>

</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure about this?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="confirm">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


























