<html>
<head>
    <meta charset="UTF-8">
    <title>Log</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>
    <script type="text/javascript">
        var vm = {{.array}};
    </script>
    <script src="/static/js/custom/log-details.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
    <script src="/static/js/custom.js" type="text/javascript" charset="utf-8"></script>
</head>
    <div class="col-md-12 main-content-wrapper padding-50-each">
        <div class="clearfix">
            <h1 class="h4">Time Sheet</h1>
            <div class="personal-details margin-top-20">
                <div class="table-wrapper">
                    <div class="datepic-top" id="dp1"> 
                        <div class="callender-wrapper">
                            <input type="text" id="fromDate" class="datepicker form-control sprites-callender" readonly='true'>
                            <span>to</span>
                            <input type="text" id="toDate" class="datepicker form-control sprites-callender" readonly='true'>
                            <i id = "refreshButton"class="fa fa-refresh fa-lg" aria-hidden="true" style="display: inline-block;margin-left: 10px;  color: #747474 ;cursor: pointer;"></i>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered   dt-responsive nowrap" id="log-details">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Status</th>
                                <th>Duration</th>
                                <th>Between</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</html>