<!--Author: Sarath
Date:01/02/2017-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/style.css">

	<script src="static/js/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/custom/login.js" type="text/javascript" charset="utf-8"></script>
</head>
<body style="background-color: #36393e;">
	<section class="login gutter-padding">
		<header>
			<div class="logo">
				<img src="static/images/logo.png" alt="" class="img-responsive">
			</div>
		</header>

		<div class="login-form clearfix">
			<div class="col-xs-12">
				<h4>Login to your account</h4>

				<p>Email</p>
				<div class="input-group">
				  
				  <span class="input-group-addon"><span class="fa fa-envelope-o"></span></span>
				  <input class="form-control" type="email" placeholder="Your Email" id="email">
				</div>

				<p>Password</p>
				<div class="input-group">

				  <span class="input-group-addon"><span class="fa fa-key"></span></span>
				  <input class="form-control" type="password" placeholder="Your Password" id="password">
				</div>
                <div class="login_error" id="login_err"></div>
			</div>

			<div class="col-xs-12 login-footer">
				<a href="#">Forgot Username or Password?</a>
				<button class="btn btn-danger" id="signIn">Sign in</button>
			</div>
		</div>
	</section>


</body>
</html>