
<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <title>Plans</title>
    <script type="text/javascript">
        var vm = {{.vm}};
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    
<section class="header">
    <div class="container-fluid">
        <header>
            <div class="logo">
                <img src="/static/images/logo.png" alt="" class="img-responsive">
            </div>

            <!-- <div class="right-menu">
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Licence</a></li>
                </ul>
                <div class="dropdown">
                    <button class="dropdown-toggle no-button-style" type="button" data-toggle="dropdown"><i class="sprites-user-dropdown"></i>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">user</a></li>
                      <li><a href="#">Customer</a></li>
                      <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div> -->
        </header>
    </div>
</section>

<section class="content-section clearfix register">
    <div class="container-fluid no-gutter-xs padding-50-each">

        <div class="padding-15">
            <div class="clearfix">
                <h1 class="h4">Plans{{.vm}}</h1>

                <div class="plans margin-top-20">

                    <div class="plan-wrapper col-md-3 col-sm-3 ">
                        <div class="plan-inner-wrapper">
                            <div class="plan-header bg-red">
                                <h3>Family</h3>
                                <span class="bg-light-red">Free</span>
                            </div>

                            <div class="plan-body">
                                <span>No. of Users (6)</span>
                                <span>Schedule and Task Management</span>
                                <span>GPS Tracking</span>
                                <span>Log</span>
                                <span>Duress Function</span>
                                <span>Messaging </span>
                                <span>Notifications</span>
                            </div>

                            <div class="plan-footer bg-light-red">
                                <h4 onclick="CompanyPlan()" style="cursor: pointer;">Choose Plan  </h4>
                            </div>
                        </div>
                    </div>





                    <div class="plan-wrapper col-md-3 col-sm-3">
                        <div class="plan-inner-wrapper">
                            <div class="plan-header bg-green">
                                <h3>Campus</h3>
                                <span class="bg-light-green">Free</span>
                            </div>

                            <div class="plan-body">
                                <span>No. of Users (Unlimited)</span>
                                <span>Schedule and Task Management</span>
                                <span>GPS Tracking</span>
                                <span>Log</span>
                                <span>Duress Function</span>
                                <span>Messaging </span>
                                <span>Notifications</span>
                                <span>P-Tag</span>
                            </div>

                            <div class="plan-footer bg-light-green">
                                <h4 onclick="CompanyPlan()" style="cursor: pointer;">Choose Plan</h4>
                            </div>
                        </div>
                    </div>

                    <div class="plan-wrapper col-md-3 col-sm-3">
                        <div class="plan-inner-wrapper">
                            <div class="plan-header bg-blue">
                                <h3>Business</h3>
                                <span class="bg-light-blue">Free for 4 users</span>
                            </div>

                            <div class="plan-body">
                                <span>No. of Users (Unlimited)</span>
                                <span>Schedule and Task Management</span>
                                <span>GPS Tracking</span>
                                <span>Log</span>
                                <span>Duress Function</span>
                                <span>Messaging </span>
                                <span>Notifications and Alerts</span>
                                <span>CRM</span>
                            </div>

                            <div class="plan-footer bg-light-blue">
                                <h4 onclick="CompanyPlan()" style="cursor: pointer;">Choose Plan</h4>
                            </div>
                        </div>
                    </div>

                    <div class="plan-wrapper col-md-3 col-sm-3">
                        <div class="plan-inner-wrapper">
                            <div class="plan-header bg-yellow">
                                <h3>Business Plus</h3>
                                <span class="bg-light-yellow">Plan only</span>
                            </div>

                            <div class="plan-body">
                                <span>No. of Users (Unlimited)</span>
                                <span>Schedule and Task Management</span>
                                <span>GPS Tracking</span>
                                <span>Log</span>
                                <span>Duress Function</span>
                                <span>Messaging </span>
                                <span>Notifications and Alerts</span>
                                <span>P-Tag</span>
                                <span>CRM</span>
                                <span>Time and Payroll Management</span>
                                <span>Pre-start Meetings</span>
                                <span>Expiries</span>
                                <span>Exposure</span>
                                <span>Certifications</span>
                            </div>

                            <div class="plan-footer bg-light-yellow">
                                <h4 onclick="CompanyPlan()" style="cursor: pointer;">Choose Plan</h4>
                            </div>
                        </div>
                    </div>

                </div>




            </div>


        </div>

    </div>

</section>

<section class="footer">
    <div class="container-fluid">
        <footer>
            <div class="footer-logo">
                <img src="/static/images/logo-footer.png" alt="" class="img-responsive">
            </div>
            <ul>
                <li>Copyright <span>Passporte</span> Limited</li>
                <li>All Rights Reserved</li>
            </ul>
        </footer>
    </div>
</section>
    <script src="/static/js/custom/plan.js"></script>
    <script src="/static/js/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>