<!--Author: Sarath
Date:09/02/2017-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register</title>
    <script type="text/javascript">
       var vm = {{.vm}};
   </script>
    <!--<script type="text/javascript">
        function codeAddress() {
            var jj =({{.vm.CountryName}}).sort();
            return jj
        }
    var kk =  window.onload = codeAddress;
        console.log("ee",kk)
        </script>-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/custom/custom.css">
	<script src="static/js/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/jquery.validate.js"type="text/javascript" charset="utf-8"></script>
	<script src="static/js/custom/register.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<section class="header">
		<div class="container-fluid">
			<header>
				<div class="logo">
					 <img src="/static/images/logo.png" alt="" class="img-responsive" onmouseover="" style="cursor: pointer;" onclick="redirect();">
				</div>
                <div class="right-menu">
					<ul>
                       <li><a href="/PendingWorks">About</a></li>
		            <li><a href="/PendingWorks">Contact</a></li>
		            <li><a href="/PendingWorks">Licence</a></li>
					</ul>
                </div>
			</header>
		</div>
	</section>

	<section class="content-section clearfix register">
		<div class="container-fluid no-gutter-xs padding-50-each">

            <div class="col-md-12 ">
                <div class="clearfix">
                    <h1 class="h4">Company Registration</h1>
                    <form class="clearfix max-form-width form-edit-wrapper" id="companyRegisterForm">
                        <div class="row">
                        <div class="col-sm-6" padding-top:15px>
                            <label for="ex1" class="">Type</label>
                            <select class="form-control sprites-arrow-down" id="planType" name="planType">
                               <!-- <option selected disabled>Select Type</option>-->
                                <option >family</option>
                                <option>campus</option>
                                <option selected="selected">business</option>
                            </select>
                            </div>
                        </div>
                        <div class="personal-details margin-top-20">
                            <div class="form-edit">
                                <div class="form-group clearfix">
                                    <div class="col-sm-6">
                                        <label for="firstName" class="">First Name</label>
                                        <input class="form-control" id="firstName" name="firstName" type="text">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="lastName" class="">Last Name</label>
                                        <input class="form-control" id="lastName" name="lastName" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="official-details margin-top-20">
                            <label for="ex1" class="">Address</label>
                            <div class="form-edit">
                                <div class="form-group clearfix">
                                    <div class="col-sm-6">
                                        <label for="companyName" class="" id="companyNameLabel">Company Name</label>
                                        <input class="form-control" id="companyName" name="companyName" type="text">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="number" class="" id="companyNumberLabelId">Number</label>
                                        <input class="form-control" id="number" name="number" type="number">
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="col-sm-6">
                                        <label for="state" class="">Country</label>
                                        <select class="form-control sprites-arrow-down" id="country" name="country">
                                            <option selected disabled>Select Country</option>
                                            {{range $key, $val := .vm.CountryName}}
                                            
                                            <option value="{{index $.vm.CountryName $key}}">{{$val}}</option>
                                            {{end}}
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="state" class="">State</label>
                                        <select class="form-control sprites-arrow-down" id="state" name="state">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="col-sm-6">
                                        <label for="city" class="">City</label>
                                        <input class="form-control" id="city" name="city" type="text">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="street" class="">Street</label>
                                        <input class="form-control" id="street" name="street" type="text">
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="col-sm-6">
                                        <label for="" class="">Phone No.</label>
                                        <div class="country-code-wrapper">
                                            <input class="form-control" id="dialCode" type="text">
                                            <input class="form-control" id="phoneNo" type="number" name="phoneNo">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="emailId" class="">Email-Id</label>
                                        <input class="form-control" id="emailId" name="emailId" type="email">
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <div class="col-sm-6">
                                        <label for="zipCode" class="">Zipcode</label>
                                        <input class="form-control" id="zipCode" name="zipCode" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="official-details margin-top-20">
                            <div class="form-edit">
                                <div class="form-group clearfix">
                                    <div class="col-sm-6">
                                        <label for="password" class="">Password</label>
                                        <input class="form-control" id="password" name="password" type="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="confirmPassword" class="">Confirm Password</label>
                                        <input class="form-control" id="confirmPassword" name="confirmPassword" type="Password">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox margin-top-35 terms-link" style="width: 100%;background: none;">
                            <label><input type="checkbox" id="agree">I agree to the <a>Terms and Conditions</a> of this website.</label>
                        </div>
                        <div class="align-left margin-top-35">
                            <button class="btn button-blue" id="register" disabled="true" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="container-fluid">
            <footer>
                <div class="footer-logo">
                    <img src="static/images/logo-footer.png" alt="" class="img-responsive">
				</div>
                <ul>
                    <li>Copyright <span>Passporte</span> Limited</li>
					<li>All Rights Reserved</li>
                </ul>
            </footer>
        </div>
    </section>
    </body>
</html>