

<script type="text/javascript">
    var vm = {{.array}};
</script>
<script src="/static/js/custom/shareddocuments.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
<script src="/static/js/custom.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">



<div class="col-md-12 main-content-wrapper padding-50-each">
    <div class="clearfix">
        <h1 class="h4">Shared Documents</h1>
        <div class="personal-details margin-top-20">
            <div class="table-wrapper shared-doc">
                <div class="datepic-top" id="dp1"> 
                    <div class="callender-wrapper">
                        <input type="text" id="fromDate" class="datepicker form-control sprites-callender" readonly='true'>
                        <span>to</span>
                        <input type="text" id="toDate" class="datepicker form-control sprites-callender" readonly='true'>
                        <i id = "refreshButton"class="fa fa-refresh fa-lg" aria-hidden="true" style="display: inline-block;margin-left: 10px;  color: #747474 ;cursor: pointer;"></i>
                    </div>
                </div>
                <table class="table table-striped table-bordered   dt-responsive nowrap" id="shareddocument-table">
                    <thead>
                        <tr>
                            <th width="60%">Description</th>
                            <th width ="20%">Expiry Date</th>
                            <th ></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

	
	

