<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Time Sheet</title>
    <script type="text/javascript">
        var vm = {{.vm}};
    </script>
	 <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="/static/js/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
<!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/1.3.0/moment-duration-format.min.js"></script>
-->
    <script src="/static/js/custom/timesheet-details.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/custom.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/moment.js"></script>
</head>
<body>
	<section class="header">
	    <div class="container-fluid">
		<header>
		    <div class="logo">
		        <img src="/static/images/logo.png" alt="" class="img-responsive">
		    </div>

		      <div class="right-menu">
		        <ul>
		            <ul>
                       <!-- <li class="notification-wrp">
                           <button class="no-button-style notification-btn"  id="notificationId" onclick="myNotification()" method="post">
                               <i class="fa fa-bell" aria-hidden="true"></i>
                               <span class="badge" id="number"></span>
                           </button>

                           <div class="not-list-wrp" id="notificationDiv">
                            </div>
                       </li>-->
		            <li><a href="/{{.vm.CompanyTeamName}}/PendingWorks">About</a></li>
		            <li><a href="/{{.vm.CompanyTeamName}}/PendingWorks">Contact</a></li>
		            <li><a href="/{{.vm.CompanyTeamName}}/PendingWorks">Licence</a></li>
		        </ul>
		        </ul>
		        <div class="dropdown">
		            <button class="dropdown-toggle no-button-style" type="button" data-toggle="dropdown"><i><img src="" id="imageId" style="border-radius:50% 50% 50% 50%; width:30px; height:30px;"></i>
<!--                        <img src="images/user-dropdown.png">--> 
                       &emsp; <span class="user-name" id="username"> User</span>
		                <span class="caret"></span></button>
                    <ul class="dropdown-menu">
		                <li><a href='/{{.vm.CompanyTeamName}}/editProfile'>Edit Profile</a></li>
		                <li  ><a href="#" data-toggle="modal" id="planChange" >Package</a></li>
                         <li><a href='/{{.vm.CompanyTeamName}}/companyProfile'>Company Profile</a></li>
                         <li><a href='/{{.vm.CompanyTeamName}}/companyFileUpload'>Company Policies</a></li>
		                <li><a href="/logout">Logout</a></li>
		            </ul>
		        </div>
		    </div>
		</header>
	    </div>
	</section>

	 <section class="content-section clearfix">
	    <div class="container-fluid no-gutter-xs">
            <div class="col-md-2 main-menu-wrapper">

                <nav class="main-menu admin-layout">
                    <ul id="menuItems">
                        <li id="dashBoard"><a href='/{{.vm.CompanyTeamName}}/dashBoard'><i class="sprites-dashboard"></i>Dashboard</a></li> 
                        <li id="user"><a href='/{{.vm.CompanyTeamName}}/invite'><i class="sprites-user"></i>User</a></li>
                        <li id="group"><a href='/{{.vm.CompanyTeamName}}/group' ><i class="sprites-group"></i>Group</a></li>
                        <li id ="crm"><a href='/{{.vm.CompanyTeamName}}/customer'><i class="sprites-crm"></i>CRM</a></li>
                        <li id="contact"><a href='/{{.vm.CompanyTeamName}}/contact'><i class="sprites-contact"></i>Contact</a></li>
                        <!--<li id="nfc"><a href="/{{.vm.CompanyTeamName}}/nfc"><i class="sprites-nfc"></i>NFC Tag</a></li>-->
                        <li id ="job"><a href='/{{.vm.CompanyTeamName}}/job'><i class="sprites-job"></i>Job</a></li>
                        <li id="WorkLocation"><a href="/{{.vm.CompanyTeamName}}/worklocation"><i class="sprites-consent"></i>Work Location</a></li>
                        <li id="task"><a href='/{{.vm.CompanyTeamName}}/task'><i class="sprites-task"></i>Task</a></li>
                        <li id="leave"><a href='/{{.vm.CompanyTeamName}}/leave'><i class="sprites-leave"></i>Leave</a></li>
                        <!--<li><a href="#"><i class="sprites-payroll"></i>Payroll</a></li>-->
                        <li id="log"><a href="/{{.vm.CompanyTeamName}}/workLog"><i class="sprites-log"></i>Log</a></li>
                        <!--<li id="log"><a href="/PendingWorks"><i class="sprites-log"></i>Log</a>-->
                        <!--<li id="time-sheet"><a href="/{{.vm.CompanyTeamName}}/timeSheet"><i class="sprites-log"></i>Time Sheet</a></li>-->
                        <li id="time-sheet"><a href="/{{.vm.CompanyTeamName}}/timeSheet"><i class="sprites-log" ></i>Time Sheet</a></li>
                        <!--<li id="time-sheet"><a href="/{{.vm.CompanyTeamName}}/PendingWorks"><i class="sprites-log" ></i>Time Sheet</a></li>-->
                        <!--<li><a href="#"><i class="sprites-dures"></i>Duress</a></li>-->
                        <li id="consent"><a href="/{{.vm.CompanyTeamName}}/consent"><i class="sprites-consent"></i>Consent Receipt</a></li>
                        <li id="fitToWork"><a href="/{{.vm.CompanyTeamName}}/fitToWork"><i class="sprites-consent"></i>Fit To Work</a></li>
                        
                    </ul>
                </nav>
                <div class="lines-wrapper">
					<span></span>
					<span></span>
					<span></span>
				</div>
            </div>
			<div class="col-md-12 main-content-wrapper padding-50-each">

                
                
                <div class="clearfix">
                     <h1 class="h4"> TimeSheet</h1>
                     <div class="personal-details margin-top-20">
                         <div class="table-wrapper table-responsive">
                             <div class="datepic-top" id="dp1">
                                 <div class="callender-wrapper">
                                     <input type="text" id="fromDate" class="datepicker form-control sprites-callender" readonly='true'>
                                     <span>to</span>
                                     <input type="text" id="toDate" class="datepicker form-control sprites-callender" readonly='true'>
                                     <i id = "refreshButton"class="fa fa-refresh fa-lg" aria-hidden="true" style="display: inline-block;margin-left: 10px;  color: #747474 ;cursor: pointer;"></i>
                                 </div>
                             </div>
                             <ul class="nav nav-tabs tab-logs">
                                 <li class="active" id="taskClass"><a data-toggle="tab" href="#tab1" id="taskTime"> <button class="no-button-style" id="taskDetail">Task TimeSheet</button></a></li>
								<li id="workClass"><a data-toggle="tab" href="#tab2" id="workTime"><button class="no-button-style"  id="workDetail">Work TimeSheet</button></a></li>
                             </ul>
                             <table class="table table-striped table-bordered   dt-responsive nowrap " id="timeSheet_details">
                                 <thead>
                                     <tr>
                                         <th>User Name</th>
                                         <th>Task Name</th>
                                         <th>Days Worked</th>
                                         <th>Leave</th>
                                         <th>Late Hours</th>
                                         <th>Extra Hours</th>
<!--                                         <th>Date</th>-->
                                     </tr>
                                 </thead>
                                 <tbody>
                                 </tbody>
                             </table>
                         </div>
                     </div>
                </div>
			</div>

		</div>
	</section>
    
    
    
    
    
    
      <div class="modal fade plans-modal" id="family" role="dialog" >
        <div class="modal-dialog">
	    
	      <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <section class="header">
                        <div class="container-fluid">
                            <header>
                                <div class="logo">
                                    <img src="/static/images/logo.png" alt="" class="img-responsive">
                                </div>
                            </header>
                        </div>
                    </section>
                </div>
                <div class="modal-body">
                    <div class="padding-15">
                        <div class="clearfix">
                            <h1 class="h4">Family</h1>
                            <div class="plans margin-top-20">
                                <div class="plan-wrapper col-xs-12 ">
                                    <div class="plan-inner-wrapper">
                                        <div class="plan-header bg-red">
                                            <h3>Family</h3>
                                            <span class="bg-light-red">Free</span>
                                        </div>
                                        <div class="plan-body">
                                            <span>No. of Users (6)</span>
                                            <span>Schedule and Task Management</span>
                                            <span>GPS Tracking</span>
                                            <span>Log</span>
                                            <span>Duress Function</span>
                                            <span>Messaging </span>
                                            <span>Notifications</span>
                                        </div>
                                        <div class="plan-footer bg-light-red">
                                            <a href="/plan/change"><h4 >Change Plan</h4></a> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <section class="footer">
                        <div class="container-fluid">
                            <footer>
                                <div class="footer-logo">
                                    <img src="/static/images/logo-footer.png" alt="" class="img-responsive">
                                </div>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </footer>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade plans-modal" id="campus" role="dialog" >
        <div class="modal-dialog"> 
	    
	      <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <section class="header">
                        <div class="container-fluid">
                            <header>
                                <div class="logo">
                                    <img src="/static/images/logo.png" alt="" class="img-responsive">
                                </div>
                            </header>
                        </div>
                    </section>
                </div>
                <div class="modal-body">
                    <div class="padding-15">
                        <div class="clearfix">
                            <h1 class="h4">Campus</h1>
                            <div class="plans margin-top-20">
                                <div class="plan-wrapper col-xs-12 ">
                                    <div class="plan-inner-wrapper">
                                        <div class="plan-header bg-green">
                                            <h3>Campus</h3>
                                            <span class="bg-light-green">Free</span>
                                        </div>
                                        <div class="plan-body">
                                            <span>No. of Users (Unlimited)</span>
                                            <span>Schedule and Task Management</span>
                                            <span>GPS Tracking</span>
                                            <span>Log</span>
                                            <span>Duress Function</span>
                                            <span>Messaging </span>
                                            <span>Notifications</span>
                                            <span>P-Tag</span>
                                        </div>
                                        <div class="plan-footer bg-light-green">
                                            <a href="/plan/change"><h4 >Change Plan</h4></a> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <section class="footer">
                        <div class="container-fluid">
                            <footer>
                                <div class="footer-logo">
                                    <img src="/static/images/logo-footer.png" alt="" class="img-responsive">
                                </div>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </footer>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade plans-modal" id="business" role="dialog" >
        <div class="modal-dialog">
	    
	      <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <section class="header">
                        <div class="container-fluid">
                            <header>
                                <div class="logo">
                                    <img src="/static/images/logo.png" alt="" class="img-responsive">
                                </div>
                            </header>
                        </div>
                    </section>
                </div>
                <div class="modal-body">
                    <div class="padding-15">
                        <div class="clearfix">
                            <h1 class="h4">Business</h1>
                            <div class="plans margin-top-20">
                                <div class="plan-wrapper col-xs-12 ">
                                    <div class="plan-inner-wrapper">
                                        <div class="plan-header bg-blue">
                                            <h3>Business</h3>
                                            <span class="bg-light-blue">Free for 4 users</span>
                                        </div>
                                        <div class="plan-body">
                                            <span>No. of Users (Unlimited)</span>
                                            <span>Schedule and Task Management</span>
                                            <span>GPS Tracking</span>
                                            <span>Log</span>
                                            <span>Duress Function</span>
                                            <span>Messaging </span>
                                            <span>Notifications and Alerts</span>
                                            <span>CRM</span>
                                        </div>
                                        <div class="plan-footer bg-light-blue">
                                            <a href="/plan/change"><h4 >Change Plan</h4></a> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <section class="footer">
                        <div class="container-fluid">
                            <footer>
                                <div class="footer-logo">
                                    <img src="/static/images/logo-footer.png" alt="" class="img-responsive">
                                </div>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </footer>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade plans-modal" id="business-plus" role="dialog" >
        <div class="modal-dialog">
	    
	      <!-- Modal content-->
            <div class="modal-content">
	        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		         <section class="header">
					<div class="container-fluid">
						<header>
							<div class="logo">
								<img src="/static/images/logo.png" alt="" class="img-responsive">
							</div>

						</header>
					</div>
				</section>
	        </div>
	        <div class="modal-body">
	          <div class="padding-15">
				<div class="clearfix">
					<h1 class="h4">Business-plus</h1>

					<div class="plans margin-top-20">
						
						<div class="plan-wrapper col-xs-12 ">
							<div class="plan-inner-wrapper">
								<div class="plan-header bg-yellow">
									<h3>Business Plus</h3>
									<span class="bg-light-yellow">Plan only</span>
								</div>

								<div class="plan-body">
									<span>No. of Users (Unlimited)</span>
									<span>Schedule and Task Management</span>
									<span>GPS Tracking</span>
									<span>Log</span>
									<span>Duress Function</span>
									<span>Messaging </span>
									<span>Notifications and Alerts</span>
									<span>P-Tag</span>
									<span>CRM</span>
									<span>Time and Payroll Management</span>
									<span>Pre-start Meetings</span>
									<span>Expiries</span>
									<span>Exposure</span>
									<span>Certifications</span>
								</div>

								<div class="plan-footer bg-light-yellow">
									 <a href="/plan/change"><h4 >Change Plan</h4></a> 
								</div>
							</div>
						</div>
                    </div>
                  </div>
                </div>
	        </div>
	        <div class="modal-footer">
                <section class="footer">
					<div class="container-fluid">
						<footer>
							<div class="footer-logo">
								<img src="/static/images/logo-footer.png" alt="" class="img-responsive">
							</div>

							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</footer>
					</div>
				</section>
                </div>
            </div>
        </div>
    </div>

	<section class="footer">
	    <div class="container-fluid">
		<footer>
		    <div class="footer-logo">
		        <img src="/static/images/logo-footer.png" alt="" class="img-responsive">
		    </div>
		    <ul>
		        <li>Copyright <span>Passporte</span> Limited</li>
		        <li>All Rights Reserved</li>
		    </ul>
		</footer>
	    </div>
	</section>
    
    


<!--
	<script src="/static/js/jquery-3.1.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>

	<script src="/static/js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
-->

<!--	<script src="/static/js/custom.js" type="text/javascript" charset="utf-8"></script>-->

<!--
	<script>

		$(document).ready(function() {
		      
		      $('#tbl_details').dataTable();


		      $('#tbl_details_length').after($('.datepic-top'));
		  } );
	</script>
-->
    <!--<script>
        $('.notification-btn').on('click', function() {
           $(this).parent('.notification-wrp').toggleClass('show-notification');
           });
    </script>
-->
    <script>
        $('.lines-wrapper').on('click', function() {
            $(this).toggleClass('opn');
            $(this).parent('.main-menu-wrapper').toggleClass('show-menu');
        });
    </script>
	
</body>
</html>
